html{
    position: relative;
    min-height: 100%;
}
body{
    font-family: Arvo, serif;
    background: url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1167&q=80") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
#top {
  margin-top: 4%;
  background-color: yellow;
  color: red;
  font-size: 20px;
  font-weight: bolder;
}
#topp {
  margin-top: 3%;
  background-color: yellow;
  width:47%;
  color: red;
  font-size: 20px;
  font-weight: bolder;
}
#bottom {
  margin-top: 4%;
  background-color: yellow;
  color: red;
  font-size: 20px;
  font-weight: bolder;
}
.jumbotron{
    width: 90%;


   background: rgba(200, 255, 255, 0.5);

    text-align: center;
    letter-spacing: 2.5px;
    padding: 1px;
    margin-top: 6%;
    margin-left: 5%;
}
.pl0 {
   border: 1px solid #333333;
 border-left: 0px;
border-top: 0px;
border-bottom: : 0px;
}
   .pl1{
      border: 1px solid #333333;
     border-top: 0px;
     border-bottom: : 0px;}
      .pl2{
         border: 1px solid #333333;
       border-right: 0px;
      border-top: 0px;
      border-bottom: : 0px;
    }
/*buttons*/
.signup{
    margin-top: 40px;
}

.green{
    background-color: #51b8e1;
}

.green:hover{
    background-color:#25a7da;
}


.pull-right{
  float: right;
}

a.pull-right{
  float: right;
}
a.pull-right:hover{
  float: right;
  color: blue;
}
.right1{
  float: right;
}
